<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jimaku2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Jimaku2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Jimaku2.Properties.Settings>
            <setting name="JimakuColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="LastThread" serializeAs="String">
                <value>http://jbbs.shitaraba.net/bbs/read.cgi/game/48538/1367832583</value>
            </setting>
            <setting name="LastResNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="IncomingSoundEffect" serializeAs="String">
                <value>C:\Tools\nicocast108\newnico.wav</value>
            </setting>
            <setting name="StayOnTop" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="JimakuFont" serializeAs="String">
                <value>Microsoft Sans Serif, 24pt, style=Bold</value>
            </setting>
        </Jimaku2.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Jimaku2.Properties.Settings>
            <setting name="ProgramName" serializeAs="String">
                <value>Jimaku2</value>
            </setting>
            <setting name="MinimumDisplayTime" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MaximumDisplayTime" serializeAs="String">
                <value>10000</value>
            </setting>
        </Jimaku2.Properties.Settings>
    </applicationSettings>
</configuration>